<div class="main">
    <app-navbar></app-navbar>
    <app-home-welcome></app-home-welcome>
    <app-home-info id='Informations'></app-home-info>
    <app-home-intresting-facts id="IntrestingFacts"></app-home-intresting-facts>
    <app-home-julian-date></app-home-julian-date>
    <app-home-state id="State"></app-home-state>
    <app-home-calendar id='Calendar'></app-home-calendar>
    <app-home-algorithms id='Algorithms'></app-home-algorithms>
    <app-home-contact id='Contact'></app-home-contact>
    <app-footer></app-footer>
</div>
