@import "/src/assets/styling/variables.scss";
@import "/src/assets/styling/material/input.scss";

.modalBody {
  &__login {
    padding: 10px;
    margin-bottom: 10px;
  }

  &__pass {
    padding: 10px;
  }

  &__error {
    font-size: $fontSizeLittle;
    color: $red;
    font-weight: 600;
    transition-duration: 0.3s;

    &--icon:hover {
      color: red;
      cursor: pointer;
      transition-duration: 0.3s;
    }
  }

  &__loginBtn {
    margin-bottom: 25px;
  }
}

p {
  margin: 0;
  padding: 0;
}
