@import "/src/assets/styling/variables.scss";

.copyright {
  text-align: center;
  padding: 5px 0 5px 0;
  background: linear-gradient(rgb(5, 5, 5), black, rgb(5, 5, 5), rgb(10, 10, 10));
  &--color {
    color: $fontColor;
    text-decoration: none;
  }
  &--signature {
    color: $fontColor;
    font-family: $kalam;
    font-size: $fontSize;
  }
}
