.textBox {
    font-size: 1rem;
    margin-top: 40px;
  
    &__p {
      text-indent: 15px;
      margin: 4px;
  
      &--color {
        color: orange;
        font-weight: 600;
      }
  
      &--onlyColor {
        color: orange;
      }
  
      &--colorUnderline {
        text-decoration: underline;
        color: orange;
      }
  
      &__li {
        margin: 0 25px;
        &--color {
          color: orange;
        }
      }
    }
  }
  
  .imgBox {
    margin-bottom: 10px;
    margin-top: 35px;
  
    &--val {
      width: 100%;
      height: auto;
      border: 3px ridge orange;
      border-radius: 12px;
    }
  }
  
  .slideIn {
    position: relative;
    width: 100%;
    left: 0;
  
    &--left {
      -webkit-animation: slideInLeft 1s forwards;
      -moz-animation: slideInLeft 1s forwards;
      animation: slideInLeft 1s forwards;
    }
  
    &--right {
      -webkit-animation: slideInRight 1s forwards;
      -moz-animation: slideInRight 1s forwards;
      animation: slideInRight 1s forwards;
    }
  }
  
  .fadeIn {
    -webkit-animation: fadeIn 2s forwards;
    -moz-animation: fadeIn 2s forwards;
    animation: fadeIn 2s forwards;
  }
  
  // Slide in from left animation
  @-webkit-keyframes slideInLeft {
    0% {
      transform: translateX(-700px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @-moz-keyframes slideInLeft {
    0% {
      transform: translateX(-700px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideInLeft {
    0% {
      transform: translateX(-700px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  // Slide in from right animation
  @-webkit-keyframes slideInRight {
    0% {
      transform: translateX(900px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @-moz-keyframes slideInRight {
    0% {
      transform: translateX(900px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideInRight {
    0% {
      transform: translateX(900px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  // Fade in animation
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }