@import "/src/assets/styling/variables.scss";

.container-fluid {
  padding-top: 30px;
}

.info {
  margin-top: -20px;

  &__img {
    min-width: 400px;
    max-width: 600px;
    float: right;
    shape-outside: url("../../../../../assets/images/home-info/splashImage.gif");
    shape-margin: 5px;
  }
}
