<div class="container-fluid">
  <app-subtitle [value]="'homeInfo.title' | translate"></app-subtitle>
  <div class="row justify-content-center">
    <div class="col-11 info">
      <img [src]="imgSplash" width="100%" height="auto" class="info__img" />
      <app-info-introduction></app-info-introduction>
      <div class="text-center">
        <app-collapse-button
          [href]="more.href"
          [ariacontrols]="more.ariacontrols"
        ></app-collapse-button>
      </div>
    </div>
  </div>
  <div class="row justify-content-center collapse" id="MoreInformations">
    <div class="col-11 more">
      <app-info-blue-moon></app-info-blue-moon>
      <app-info-kordylweski></app-info-kordylweski>
      <app-info-julian-date></app-info-julian-date>
      <app-info-health></app-info-health>
    </div>
  </div>
</div>
