<div class="modal fade" id="copyAlert" tabindex="-1" aria-labelledby="copyAlert" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body rounded-2">
        <div class="row modalContent">
          <div class="col-12 modalContent__title">
            <span class="modalContent__title--val">
              {{ "alertsComponents.attention" | translate }}
            </span>
            <fa-icon [icon]="faTimes" class="fa-2x modalContent__title--icon" data-bs-dismiss="modal" title="Close">
            </fa-icon>
          </div>
          <div class="col-12 modalContent__body">
            <p class="modalContent__body--val">
              <ng-content></ng-content>
              <img [src]='iconImoji'  width="50" height="50"/>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>