<div class="textBox" [ngClass]="fontSizeFunc()">
    <p class="textBox__p">
        <span class="textBox__p--color">{{ 'homeInfo.addmission.t1' | translate }}</span> 
        {{ 'homeInfo.addmission.p1' | translate }} 
    </p>
    <p class="textBox__p">
        <span class="textBox__p--color">{{ 'homeInfo.addmission.t2' | translate }}</span> 
        {{ 'homeInfo.addmission.p2' | translate }} 
    </p>
    <p class="textBox__p">
        <span class="textBox__p--color">{{ 'homeInfo.addmission.t3' | translate }}</span> 
        {{ 'homeInfo.addmission.p3' | translate }} 
    </p>
    <p class="textBox__p">
        <span class="textBox__p--color">{{ 'homeInfo.addmission.t4' | translate }}</span> 
        {{ 'homeInfo.addmission.p4' | translate }}
        <li class="textBox__p__li">
            <span class="textBox__p__li--color">{{ 'homeInfo.addmission.phase.new' | translate }}</span>
            {{ 'homeInfo.addmission.phase.descNew' | translate }}
        </li>
        <li class="textBox__p__li">
            <span class="textBox__p__li--color">{{'homeInfo.addmission.phase.q1' | translate }}</span>
            {{ 'homeInfo.addmission.phase.descQ1' | translate }}
        </li> 
        <li class="textBox__p__li">
            <span class="textBox__p__li--color">{{ 'homeInfo.addmission.phase.full' | translate }}</span>
            {{ 'homeInfo.addmission.phase.descFull' | translate }}
        </li> 
        <li class="textBox__p__li last">
            <span class="textBox__p__li--color">{{ 'homeInfo.addmission.phase.q3' | translate }}</span>
            {{ 'homeInfo.addmission.phase.descQ3' | translate }}
        </li>
        {{ 'homeInfo.addmission.p5' | translate }}  
    </p>
</div>