<div class="textBox" [ngClass]="fontSizeFunc()">
  <p class="textBox__p">
    <span class="textBox__p--color">Księżyc</span>
    (łac. Luna) - jest to jedyny naturalny satelita Ziemi, ale trzeba mieć na
    uwadze, że istnieją również księżyce Kordylewskiego, o których dowiesz się
    nieco więcej w dalszej części strony. Nasz Księżyc jest piąty co do
    wielkości spośród księżycy znajdujących się w Układzie Słonecznym. Odległość
    od środka Ziemi do środka Księżyca jest zmienna (dokładną wartość możesz
    sprawdzić poniżej) ale przyjęło się że przeciętna odległość wynosi 384
    399km. Aby zobrazować sobie tą liczbę wystarczy wyobrazić sobie, że
    musiałbyś przemierzyć naszą planetę ok. 10 razy wokół. Średnica Księżyca
    wynosi 3474 km, a przyspieszenie grawitacyjne na jego powierzchni jest
    blisko 6 razy słabsze niż na Ziemi. Księżyc wykonuje pełny obieg wokół Ziemi
    w ciągu 27,3 dnia (tzw. miesiąc syderyczny), a okresowe zmiany w geometrii
    układu Ziemia–Księżyc–Słońce powodują występowanie powtarzających się w
    cyklu 29,53-dniowym (tzw. miesiąc synodyczny) faz Księżyca.
  </p>
  <p class="textBox__p">
    <span class="textBox__p--color"> Miesiąc synodyczn </span>
    - (lub inaczej: lunacja) jest to średni czas pomiędzy nowiami Księżyca.
    Przyjęło się, że miesiąc synodyczny trwa 29 dni 12 godzin 44 minuty i 3
    sekundy. Miesiąc synodyczny jest o ponad 2 dni dłuższy od miesiąca
    syderycznego. Czas ten jest potrzebny, by Księżyc ponownie znalazł się w tym
    samym położeniu względem prostej Słońce-Ziemia.
  </p>
  <p class="textBox__p">
    <span class="textBox__p--color">Miesiąc syderyczny</span>
    - nazywany również Miesiącem gwiazdowym, jest to średni czas obiegu księżyca
    wokół Ziemi. Trwa 27 dni 7 godzin 43 minuty i 11,5 sekundy. Jest więc
    krótszy od miesiąca synodycznego.
  </p>
  <p class="textBox__p">
    <span class="textBox__p--color">Fazy Księżyca</span>
    służą do określenia jaka część Księżyca jest oświetlona przez Słońce i tym
    samym widzialna z Ziemi. Słońce oświetla zawsze tylko połowę powierzchni
    Księżyca zatem owe fazy są rezultatem oglądania tej samej połowy pod różnymi
    kątami spowodowanymi różnymi położeniami Słońca, Ziemi i Księżyca względem
    siebie. Wyróżnia się 4 fazy:
    <li class="textBox__p__li">
      <span class="textBox__p__li--color">Nów</span>
      - jest w momencie, gdy nie widać Księżyca z powierzchni Ziemi gołym okiem
      (mówiąc bardziej fachowo, Księżyc jest w koniunkcji ze Słońcem, patrząc z
      Ziemi).
    </li>
    <li class="textBox__p__li">
      <span class="textBox__p__li--color">Pierwsza kwadra</span>
      - Ziemia, Księżyc i Słońce tworzą ze sobą kąt prosty. Księżyc w tym czasie
      zbliża się do pełni. W tym momencie, dla obserwatorów na Ziemi widoczna
      jest tylko wschodnia część tarczy Księżyca
    </li>
    <li class="textBox__p__li">
      <span class="textBox__p__li--color">Pełnia</span>
      - faza księżyca, podczas której Księżyc znajduje się w opozycji do Słońca,
      tzn. kiedy Księżyc znajduje się po przeciwnej stronie Ziemi niż Słońce
      dzięki czemu możemy obserwować w pełni oświetloną tarczę Księżyca.
    </li>
    <li class="textBox__p__li last">
      <span class="textBox__p__li--color">Ostatnia kwadra</span>
      - W tej fazie również Ziemia, Księżyc i Słońce tworzą ze sobą kąt prosty.
      W tym momencie, dla obserwatorów na Ziemi widoczna jest jako oświetlona
      tylko zachodnia część widocznej strony Księżyca.
    </li>
    Należy pamiętać, że fazy Księżyca są odwrotne względem siebie w zależności
    czy znajdujemy się na północnej czy południowej półkuli Ziemi.
  </p>
</div>
