<code class="codebox" id="CProgram">
    <p class="codebox__comment">// {{ 'homeAlgorithms.programs.c' | translate }}</p>
    <p class="codebox__meta">                                    
        <span class="codebox__meta--include">#include </span>
        <span class="codebox__meta--library" >{{ '<' }}stdio.h></span>
    </p>
    <p class="codebox__function">
        <span class="codebox__function--keywords">int</span>
        <span class="codebox__function--main"> main</span>
        <span>() {{ '{' }}</span>
    </p>
    <div class="codebox__code margin__small">
        <p class="codebox__code__var">
            <span class="codebox__code__var--type">double</span>
            <span class="codebox__code__var--name"> userWeight</span>;
        </p>
        <p class="codebox__code__var">
            <span class="codebox__code__var--type">double</span>
            <span class="codebox__code__var--name"> result</span>;
        </p>
        <p class="codebox__code__var">
            <span class="codebox__code__var--type">double</span>
            <span class="codebox__code__var--name"> gravityValue</span> = 1.62;
        </p>
        <p class="codebox__code__syntax">
            <span class="codebox__code__syntax--val">printf</span>(
            <span class="codebox__code__syntax--string">"Podaj swoja wage: "</span> );
        </p>
        <p class="codebox__code__syntax">
            <span class="codebox__code__syntax--val">scanf</span>(
            <span class="codebox__code__syntax--string">"%lf"</span>,
            <span class="codebox__code__syntax--arg">userWeight</span> );
        </p>
        <p class="codebox__code__syntax">
            <span class="codebox__code__syntax--arg">result</span> =
            <span class="codebox__code__syntax--arg">userWeight</span> *
            <span class="codebox__code__syntax--arg">gravityValue</span>;
        </p>
        <p class="codebox__code__syntax">
            <span class="codebox__code__syntax--val">printf</span>(
            <span class="codebox__code__syntax--string">"Wynik: %lf"</span>,
            <span class="codebox__code__syntax--arg"> result</span>);
        </p>
    </div>
    <p class="codebox__code__end">
        <span>{{ '}' }}</span>
    </p>
</code>