<code class="codebox" id="PythonProgram">
    <p class="codebox__comment"># {{ 'homeAlgorithms.programs.python' | translate }}</p>
    <div class="codebox__code">
        <p class="codebox__code__syntax">
            <span class="codebox__code__syntax--arg">userWeight</span> =
            <span class="codebox__code__syntax--val">float</span>(
            <span class="codebox__code__syntax--val">input</span>(
            <span class="codebox__code__syntax--string">"Podaj swoja wage: "</span> ) )
        </p>
        <p class="codebox__code__syntax">
            <span class="codebox__code__syntax--arg">gravityValue</span> = 1.62
        </p>
        <p class="codebox__code__syntax">
            <span class="codebox__code__syntax--arg">result</span> = 
            <span class="codebox__code__syntax--arg">userWeight</span> *  
            <span class="codebox__code__syntax--arg">gravityValue</span> 
        </p>
        <p class="codebox__code__syntax">
            <span class="codebox__code__syntax--val">print</span>(
            <span class="codebox__code__syntax--string">"Wynik: "</span> +
            <span class="codebox__code__syntax--arg">str</span>(<span class="codebox__code__syntax--arg">result</span>) )
        </p>
    </div>    
</code>