@import "/src/assets/styling/variables.scss";

.reference {
  font-size: $fontSizeLittle;
  padding: 0;
  margin: 7px 0 8px -5px;
  &__content {
    text-decoration: none;
    color: white;
    transition-duration: 0.8s;
  }
  &__content:hover {
    padding-left: 0.5em;
    color: $fontColor;
    cursor: pointer;
    transition-duration: 0.5s;
  }
}
