@import "/src/assets/styling/variables.scss";

.footer {
  &__content {
    background-color: black;

    article {
      p {
        margin: 15px 6px;
        text-indent: $valueOfIndent;
        font-size: $fontSizeLittle;
      }
    }
  }
}

.faicon {
  color: orange;
}