@import "/src/assets/styling/variables.scss";

.navbar-brand {
  padding: 0 15px 0 10px;
  margin-left: 15px;
  color: rgb(220, 220, 220);
  font-size: $fontSizeBig;
  font-family: $kalam;
  font-weight: 550;

  &--color {
    color: rgb(245, 245, 245);
  }

  &:hover {
    cursor: pointer;
  }
}
