<div class="container">
    <nav class="navbar navbar-expand-xl fixed-top" [ngClass]="{ 'nav-color': changeNavColor() }">
        <div class="navbar-brand" (click)="scrollToTop()">
            Srebrny<span class="navbar-brand--color">Glob</span>
        </div>
        <button class="navbar-toggler navbar__btn" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation" (click)="getState()">
            <fa-icon [icon]="faHamburger"></fa-icon>
        </button>
        <div class="collapse navbar-collapse navbar__items" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <app-navbar-item [href]="hrefs.info" [text]="text.info"></app-navbar-item>
                <app-navbar-item [href]="hrefs.intresting" [text]="text.intresting"></app-navbar-item>
                <app-navbar-item [href]="hrefs.state" [text]="text.state"></app-navbar-item>
                <app-navbar-item [href]="hrefs.calendar" [text]="text.calendar"></app-navbar-item>
                <app-navbar-item [href]="hrefs.algorithms" [text]="text.algorithms"></app-navbar-item>
                <app-navbar-item [href]="hrefs.contact" [text]="text.contact"></app-navbar-item>
            </ul>
            <ul class="navbar-nav">
                <app-navbar-item [text]="text.setIcon" data-bs-toggle="modal" data-bs-target="#userPanelModal">
                </app-navbar-item>
            </ul>
        </div>
        <div class="col-12 float-none no-padding">
            <app-navbar-progressbar></app-navbar-progressbar>
        </div>
    </nav>
</div>