@import "/src/assets/styling/variables";

.subtitle {
  color: $fontColor;
  font-family: $kalam;
  text-align: center;
  padding: 20px 0;

  &--text {
    font-weight: bold;
    font-size: 3em;
  }
}
