@import "/src/assets/styling/variables.scss";

.quotation {
  text-align: center;
  font-family: $cambria;
  padding: 5px 0;
  font-size: 1.6rem;
  cursor: default;
  background: linear-gradient(
    $bgColorDark,
    rgb(15, 15, 15),
    rgb(10, 10, 10),
    rgb(5, 5, 5),
    black
  );
  &--color {
    color: $fontColor;
  }
}
