<div class="row justify-content-center">
    <div class="col-12 quotation">
        „<span class="quotation--color">{{ 'footer.quotation.p1' | translate }}</span>{{ 'footer.quotation.p2' | translate }}
        <span class="quotation--color">{{ 'footer.quotation.p3' | translate }}</span> {{ 'footer.quotation.p4' | translate }}
        <span class="quotation--color">{{ 'footer.quotation.p5' | translate }}</span>{{ 'footer.quotation.p6' | translate }}
        <span class="quotation--color">{{ 'footer.quotation.p7' | translate }}</span>.”
    </div>
</div>
