@import "/src/assets/styling/variables.scss";

.content {
  width: 80%;
  margin: auto;
  text-align: center;
  transition-duration: 0.3s;

  &__title {
    font-family: Kalam;
    color: orange;
    font-weight: 600;
    &--id {
      color: $orange2;
    }
  }

  &__text {
    margin: 0;
    width: 100%;
    font-weight: 500;

    &--quote {
      color: orange;
    }
  }
}
