<div class="row">
  <div class="col-12 newsletter">
    <app-footer-subtitle [text]="newsletter"></app-footer-subtitle>
    <p class="newsletter__text">
      {{ "footer.newsletter.text" | translate }}
    </p>
    <div class="newsletter__form">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input
            type="text"
            formControlName="email"
            class="newsletter__form__input"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
          />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">
              {{ "footer.newsletter.errRequired" | translate }}
            </div>
            <div *ngIf="f.email.errors.email || f.email.errors.pattern">
              {{ "footer.newsletter.errInvalid" | translate }}
            </div>
          </div>
        </div>
        <div class="form-group newsletter__form__btns">
          <button
            type="submit"
            class="newsletter__form__btns__submit"
            data-bs-toggle="modal"
            data-bs-target="#sendNewsletterAlert"
          >
            <span class="btn--value">
              {{ "footer.newsletter.btnSubscribe" | translate }}
            </span>
          </button>
          <button
            type="button"
            (click)="onReset()"
            class="newsletter__form__btns__btnRemove"
            title="{{ 'footer.newsletter.btnClear' | translate }}"
          >
            <fa-icon [icon]="faTrashAlt" class="fa-lg"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Custom modal alerts -->
<app-user-newsletter>
  <span *ngIf="msgState === 0">
    {{ "footer.newsletter.invalid" | translate }}
    <img [src]="msgIconPath" width="50" height="50" />
  </span>
  <span *ngIf="msgState === 1">
    {{ "footer.newsletter.exist" | translate }}
    <img [src]="msgIconPath" width="50" height="50" />
  </span>
  <span *ngIf="msgState === 2">
    {{ "footer.newsletter.allOk" | translate }}
    <img [src]="msgIconPath" width="50" height="50" />
  </span>
</app-user-newsletter>
