@import "/src/assets/styling/variables.scss";

.container-fluid {
  margin: 80px 0 100px;
}

.politics {
  &__firstLast {
    font-weight: 600;
    margin: 10px 0;

    &--name {
      color: $orange;
    }
  }

  &__text {
    text-indent: $valueOfIndent;

    &--number {
      color: $orange;
      font-weight: 600;
    }

    &--special {
      text-indent: 3em;
      margin: 5px 0;
    }
  }
}

p {
  margin: 5px;
}
