<div class="textBox slideIn--left" [ngClass]="fontSizeFunc()">
    <p class="textBox__p fadeIn">
        <span class="textBox__p--color">Dni Juliańskie</span> 
        Data dni juliańskich została ustalona przez Josepha Scaligera w 1583r. Nowy sposób liczenia dat nazwał on na cześć swojego ojca Juliusza Cezara Scaligero „dniami juliańskimi”. Data juliańska to liczba dni, która upłynęła od 1 stycznia roku 4713 p.n.e, wg. kalendarza juliańskiego (przedłużonego odpowiednio wstecz), godz. 12:00 czasu uniwersalnego (czasu południka zerowego). Według tych obliczeń można przypisać każdemu dniowi następującemu po tej dacie dokładnie określony numer wykorzystywany głównie do obliczeń astronomicznych. Datę juliańską oznacza się najczęściej symbolem JD.
    </p>
    <p class="textBox__p fadeIn">
        <span class="textBox__p--onlyColor">Wyznaczania daty juliańskiej</span> 
        - do roku 1925 doba astronomiczna zaczynała się w południe, o godz. 12:00 czasu UTC w związku z tym doby zaczynają się w południe. Chcąc przedstawić w tej rachubie dokładniej czas jakiegoś zdarzenia, do juliańskiego numeru dnia dodaje się część ułamkową, która określa ułamek doby, jaki upłynął od godz. 12:00 w południe. Taką ulepszoną, ciągłą rachubę czasu określa się datami juliańskimi. W związku z tym, że daty juliańskie liczy się od południa, a liczby odpowiadające naszym czasą są niesłychanie duże, coraz częściej używa się zmodyfikowanych dat juliańskich MJD (Modified Julian Date).
    </p>
    <p class="textBox__p fadeIn">
        <span class="textBox__p--onlyColor">Zastosowanie</span> 
        - ze względu na to, że jest to łatwy sposób liczenia, dni juliańskie są stosowane prawie we wszystkich skomplikowanych algorytmach astronomicznych. System ten wykorzystywany jest także wśród obserwatorów gwiazd zmiennych czy w międzynarodowym systemie wyznaczania czasu uniwersalnego, a np. chcąc obliczyć ile dni minęło między danymi datami, wystarczy odjąć od siebie dni juliańskie (liczbę mniejszą od większej). Po odjęciu można stwierdzić ile dni jest między jedną i drugą datą.
    </p>
</div>