<div class="textBox slideIn--left" [ngClass]="fontSizeFunc()">
  <p class="textBox__p fadeIn">
    <span class="textBox__p--color">
        {{ "homeInfo.julianDate.t1" | translate }}
    </span>
    {{ "homeInfo.julianDate.p1" | translate }}
  </p>
  <p class="textBox__p fadeIn">
    <span class="textBox__p--onlyColor">
        {{ "homeInfo.julianDate.t2" | translate }}
    </span>
    {{ "homeInfo.julianDate.p2" | translate }}
  </p>
  <p class="textBox__p fadeIn">
    <span class="textBox__p--onlyColor">
        {{ "homeInfo.julianDate.t3" | translate }}
    </span>
    {{ "homeInfo.julianDate.p3" | translate }}
  </p>
</div>
