// @font-face {
//   font-family: "Kalam";
//   src: local("Kalam"), url(./../fonts/Kalam-Light.ttf) format("truetype");
// }

body {
  background-color: rgb(20, 20, 20);
  color: rgb(245, 245, 245);
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar{
  display: none;
}