<div class="textBox slideIn--right" [ngClass]="fontSizeFunc()">
  <p class="textBox__p fadeIn">
    <span class="textBox__p--color">Wpływ na zdrowie</span>
    - Księżyc przechodzi różne fazy i w każdej z nich emanuje różnymi ilościami
    światła. W zależności od danej fazy Księżyca ludzki organizm wykazuje różne
    zachowania. Naukowo udowodniono wpływ pełni księżyca na przypływy i odpływy
    mórz i oceanów. Podobne działanie ma pełnia na organizm człowieka. Wiele
    ludzi narzeka w tym czasie na bezsenność oraz trudności z zasypianiem a
    niektórzy zauważają wzmożony apetyt. W ciągu dnia mogą pojawiać się problemy
    z koncentracją, nieracjonalne zachowanie, wahania nastroju czy poirytowanie.
    W czasie pełni dochodzi do zaburzeń produkcji tzw. hormonu szczęścia, czyli
    serotoniny co może być jedną z przyczyn (prócz obniżenia melatoniny)
    bezsenności. Może mieć również wpływ na układ krążenia, układ rozrodczy
    kobiet czy pracę jelit. Fazy Księżyca mają szczególne znaczenie dla kobiet.
    Jeśli ich organizm funkcjonuje zgodnie z naturą, to krwawienie miesięczne
    przebiega w okolicy nowiu a jajeczkowanie w czasie pełni. Warto również
    zaznaczyć ścisły związek Księżyca z wątrobą, co z kolei przekłada się na
    jakość krwi i energię całego ciała.
  </p>
</div>
