@import "~bootstrap/scss/bootstrap";
@import "./variables.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: "Kalam";
  font-display: swap;
  src: local("Kalam"), url('./../fonts/Kalam-Light.ttf') format("truetype");
}

body {
  background-color: $bgColorDark;
  color: $fontColorDark;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar{
  display: none;
}