// Fonts
$kalam: "Kalam";
$cambria: "Cambria", serif;
$fontColor: rgb(245, 159, 0);
$fontFocusColor: rgb(250, 205, 123);

$fontSizeLittle: 17px;
$fontSize: 20px;
$fontSizeMid: 25px;
$fontSizeBig: 30px;
$fontSizeHuge: 40px;
$valueOfIndent: 20px;

// Colors
$orange: rgb(245, 159, 0);
$orange2: rgb(255, 195, 83);
$red: rgb(207, 0, 0);

// Theme
$bgColorDark: rgb(20, 20, 20);
$bgColorDark2: rgb(28, 28, 28);
$fontColorDark: rgb(245, 245, 245);
