<div class="row justify-content-center kordylewskiComponent slideIn--right">
  <div
    class="col-xxl-9 col-xl-8 col-lg-7 col-12 textBox fadeIn"
    [ngClass]="fontSizeFunc()"
  >
    <p class="textBox__p">
      <span class="textBox__p--color">Księżyce Kordylewskiego</span>
      - oprócz naturalnego satelity Księżyca, wokół Ziemi krążą również dwa
      obłoki pyłowe zwane pyłowymi satelitami Ziemi. Odkryte zostały przez
      polskiego astronoma Kazimierza Kordylewskiego blisko 60 lat temu. Odkrycie
      to traktowano jednak raczej jako hipotezę ze względu na trudności w
      obserwacji tych obiektów. Kordylewski potwierdził ich istnienie obserwując
      słabe lokalne pojaśnienie tła nieba w miejscach odpowiadających położeniu
      punktów libracyjnych, pochodzące od rozproszonego światła słonecznego na
      zagęszczeniach pyłu. Księżyce pyłowe wykazują fazy podobne do Księżyca.
      Obłok, który porusza się przed Księżycem ma największą jasność dwa dni po
      pierwszej kwadrze, drugi obłok natomiast dwa dni przed ostatnią kwadrą. ",
    </p>
    <p class="textBox__p">
      Obłoki pyłowe znajdują się w punktach libracyjnych L4 i L5 orbity
      księżyca, obiegające Ziemię w tym samym czasie co Księżyc. Punkty te
      tworzą wierzchołki trójkątów równobocznych, których boki są równe
      promieniowi orbity Księżyca. L4 i L5 nie są całkowicie stabilne, ponieważ
      są zakłócane przez przyciąganie grawitacyjne Słońca. Uważa się jednak, że
      są to miejsca, w których może gromadzić się pył międzyplanetarny,
      przynajmniej tymczasowo. Pyłowe obłoki libracyjne są wyjątkowo trudne do
      obserwacji ponieważ mają bardzo małą jasność powierzchniową
    </p>
  </div>
  <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-6 col-sm-10 col-12 imgBox fadeIn">
    <img [src]="kordylweskiIMG" class="imgBox--val" />
  </div>
</div>
